            <td>{{forloop.counter}}</td>
            <td>{{object.codigo}}</td>
            <td>{{object.pk}}</td>
            <td>{{object.fecha|date:'H:i:s'}}</td>
            <td>{{object.salida.fecha|date:'H:i:s'}}</td>
            <td>{{object.salida.duracion}}</td>
            <td>{{object.salida.euros|floatformat:2}}</td>
            <td>{{object.salida.operario.user.username}}</td>
            <td>{{object.salida.abonado|default:""}}</td>
            <td>{% if object.salida.perdido %}<a title="Ticket olvidado"><i class="glyphicon glyphicon-film"></i></a>{% endif %}</td>
            <td>{% if object.salida.fecha_caja %}<a title="Cierre de caja"><i class="glyphicon glyphicon-ok"></i></a>{% endif %}</td>

