            <td>{{forloop.counter}}</td>
            <td>{{object.entrada.codigo}}</td>
            <td>{{object.pk}}</td>
            <td>{{object.entrada.fecha|date:'H:i:s'}}</td>
            <td>{{object.fecha|date:'H:i:s'}}</td>
            <td>{{object.duracion}}</td>
            <td>{{object.euros|floatformat:2}}</td>
            <td>{{object.operario.user.username}}</td>
            <td>{{object.abonado|default:""}}</td>
            <td>{% if object.perdido %}<a title="Ticket olvidado"><i class="glyphicon glyphicon-film"></i></a>{% endif %}</td>
            <td>{% if object.fecha_caja %}<a title="Cierre de caja"><i class="glyphicon glyphicon-ok"></i></a>{% endif %}</td>

