{% extends "common/parker.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style>
.superbig { font-size: 250%; }
.big { font-size: 200%; }
.big input { width: 5em; }
</style>
{% endblock extra_head %}

{% block body %}
<h1>
    {{month|date:"F Y"}}
    <div class="btn-group pull-right" role="group" aria-label="modo">
        {% if previous_month %}
        <a href="{% url 'estadisticas_month' previous_month.year previous_month.month cuales %}" class="btn btn-default"><i class="glyphicon glyphicon-backward"></i> mes anterior</a>
        {% endif %}
        <a href="{% url 'estadisticas_month' month.year month.month 'todas' %}" class="btn btn-default {% if cuales == 'todas' %}active{% endif %}"><i class="glyphicon glyphicon-question-sign"></i> Todas</a>
        <a href="{% url 'estadisticas_month' month.year month.month 'fuera' %}" class="btn btn-default {% if cuales == 'caja' %}active{% endif %}"><i class="glyphicon glyphicon-remove-sign"></i> Informal</a>
        <a href="{% url 'estadisticas_month' month.year month.month 'caja' %}" class="btn btn-default {% if cuales == 'caja' %}active{% endif %}"><i class="glyphicon glyphicon-ok-sign"></i> Solo cerradas</a>
        {% if next_month %}
        <a href="{% url 'estadisticas_month' next_month.year next_month.month cuales %}" class="btn btn-default">mes siguiente <i class="glyphicon glyphicon-forward"></i></a>
        {% endif %}
    </div>
</h1>
<table class="table">
    <thead>
        <tr>
            <th>Día</th>
            <th>Tickets emitidos</th>
            <th>Tickets recibidos</th>
            <th>Tickets cierre caja</th>
            {% for operario in operarios %}
            <th>{{operario.user.username}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for obj in fechas %}
            <tr>
                <td><a href="{% url 'estadisticas_day' obj.fecha.year obj.fecha.month obj.fecha.day cuales %}">{{obj.fecha|date:"d"}}</a></td>
                <td>{{obj.dentro.count}}</td>
                <td>{{obj.fuera.count}} ({{obj.fuera.euros}} €)</td>
                <td>{{obj.caja.count}} ({{obj.caja.euros}} €)</td>
                {% for operario in obj.gente %}
                <td>{{operario.count}} ({{operario.euros}} €)</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
