{% extends "common/parker.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style>
    div.button { position:absolute; right: 20px; bottom: 5px; }
    div.pad { margin-bottom: 10px; }
</style>
{% endblock extra_head %}

{% block body %}
<div class="container-fluid">
    <h1>Fotos de los {{object_list.count}} coches que hay dentro</h1>
    <h3>Pulse en el botón de la hora para conseguir su código de salida</h3>
    <div class="row">
        <form class="form" method="POST" action="{% url 'inicio' %}">
            <input type="hidden" name="cobrar" value="0"/>
            {% csrf_token %}
            {% for object in object_list %}
            <div class="col-md-3 col-sm-4 col-xs-6 pad">
                <img class="img-responsive" src="{{object.foto.url}}" />
                <div class="button">
                    <button class="btn btn-default btn-xs" name="cosa" value="{{object.codigo}}">{{object.fecha_post|date:'H:i:s'}} <i class="glyphicon gliphicon-circle-arrow-right"></i></button>
                </div>
            </div>
            {% endfor %}
        </form>
    </div>
</div>
{% endblock body %}
