{% extends "common/parker.html" %}
{% load crispy_forms_tags %}

{% block extra_head %}
<style>
.superbig { font-size: 250%; }
.big { font-size: 200%; }
.big input { width: 5em; }
</style>
{% endblock extra_head %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Hora entrada</th>
            <th>Expendedor</th>
            <th>Hora salida</th>
            <th>Operario</th>
            <th>Euros</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.fecha|date:"H:m"}}</td>
            <td>{{object.expendedor}}</td>
            <td>{{object.salida.fecha|date:"H:m"}}</td>
            <td>{{object.salida.operario.user}}</td>
            <td>{{object.salida.euros|floatformat:2|default:"-"}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}
