{% if user.is_authenticated %}
<li><a href="{% url 'tarifas' %}">Tarifas</a></li>
<li><a href="{% url 'ticket_cierre' %}">Cierre de caja</a></li>
{% endif %}
{% if operario.es_administrador %}
<li class="dropdown">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="glyphicon glyphicon-calendar"></i> Estadísticas<span class="caret"></a>
    <ul role="menu" class="dropdown-menu">
        <li><a href="{% url 'estadisticas_day' now.year now.month now.day %}">Hoy</a></li>
        <li><a href="{% url 'estadisticas_month' now.year now.month %}">Este mes</a></li>
    </ul>
</li>
{% endif %}
