            <h2>Parking {{parking.nombre}}:</h2>
            <ul>
                <li><span class="badge">{{parking.coches_dentro}} coche{{parking.coches_dentro | pluralize}} dentro</span></li>
                {% for expendedor in parking.expendedor_set.all %}
                <li>Expendedor {{forloop.counter}}: {{expendedor.nombre}}</li>
                {% endfor %}
                <li>{{operario.coches_facturados_hoy|default:0}} coche{{operario.coches_facturados_hoy|pluralize}} facturado{{operario.coches_facturados_hoy|pluralize}} hoy</li>
                <!--<li>{{parking.coches_hoy|default:0}} coches gestionados hoy</li>-->
                <li>Operario actual: {{operario.user}}</li>
                <li>Hora actual: {% now "H:i:s" %}</li>
            </ul>
			<hr/>
			<div class="row">
				<div class="col-md-6">
					{% for barrera in parking.barreras_entrada %}
					{% include "empresa/_botonera.html" %}
					{% endfor %}
				</div>
				<div class="col-md-6">
					{% for barrera in parking.barreras_salida %}
					{% include "empresa/_botonera.html" %}
					{% endfor %}
				</div>
				<div class="col-md-6">
					{% for nodo in parking.nodos_remotos %}
					{% include "empresa/_botonera_rabitmq.html" %}
					{% endfor %}
				</div>
			</div>
