{% extends "common/parker.html" %}

{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="well">
            Aqui que vayan algunas estadisticas de {{empresa}}:<br>
            <h2>Parking {{parking.nombre}}:</h2>
            <ul>
                {% for expendedor in parking.expendedor_set.all %}
                <li>Expendedor {{expendedor}}</li>
                {% endfor %}
                <li>Direcion ip operario: {{operario.direccion_ip|default:"Ninguna"}}</li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            Aqui podria ir el formulario para leer un codigo de barras y decir cuanto cuesta
        </div>
    </div>
</div>
{% endblock body %}
